/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

body {
    font-family: "Bai Jamjuree", sans-serif;
    line-height: 1.7;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.divider {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

a {
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}
.slide-1{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/img1.jpg);
}
.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/img2.jpg);
}
.slide-3{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/img3.jpg);
}
.slide-4{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/img4.jpg);
}
.slide-5{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/images/img5.jpg);
}
.btn-brand:hover{
    background-color: #797674;
    border-color: #3f3b37;
    color:white;
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.intro-text{
    margin-bottom: 40px;
    text-align: center;

}

.intro-text p{
    max-width: 500px;
    margin: 16px auto 0 auto;
}
.navbar-dark{
    background-color: black !important;
}
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}
/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

.border-hover {
    transition: all 0.4s ease-out;
    border: 2px solid transparent;
}

.border-hover:hover {
    border-color: var(--bs-info);
}

/* Intro Section */
.intro-section p {
    max-width: 560px;
}

/* Navbar */
.navbar {
    transition: all 0.4s ease-out;
}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--bs-info);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
}

/* Service */
.service .icon {
    display: grid;
    align-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    color: var(--bs-info);
    font-size: 34px;
    box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3), inset -3px -2px 5px rgba(255, 255, 255, 0.8);
}

/* Footer */
.btn-icon {
    width: 44px;
    height: 44px;
    display: inline-grid;
    align-content: center;
    padding: 0;
    font-weight: normal;
}





